@layer components {
  ::selection {
    background-color: #a6e22e;
    color: #212529;
  }

  html {
    color: #adb5bd !important;
    background-color: #1d232a !important;
  }

  /* :root,
  .comments {
    --magenta: #ff00ff;
    --magenta-dark-box-shadow: #7f007f80;
    --blackberry: #4b0a37;
    --cyan: #83faff;
    --midnight-blue: #111c7e;
    --background-lightened: rgba(0, 0, 0, 0.9);
    --body-text-on-black: #fff;
    --background-black: #000000;
  } */

  .scroll {
    z-index: 50;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.527);
    background-color: #1d232a;
  }
}

p {
  font-weight: 430;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.25;
  font-size: 1rem;
  color: #e9ecef;
}

ul {
  list-style-position: inside;
  padding-left: 1rem;
}

ol {
  margin-left: 1rem;
}

li > ul {
  padding-left: 2rem;
}

ul li {
  list-style-type: none;
}

ul,
ol {
  margin-bottom: 1rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: inherit;
}

ul li:before {
  content: "\2013  ";
  position: absolute;
  margin-left: -1rem;
}

ul.double-spaced li {
  margin-top: 1rem;
}

.hidden flex-none lg:block ul {
  list-style: none;
}
