@layer components {
  ::selection {
    background-color: #a6e22e;
    color: #212529;
  }

  html {
    color: #adb5bd !important;
    background-color: #1d232a !important;
  }

  .scroll {
    z-index: 50;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.527);
    background-color: #1d232a;
  }
}

p {
  font-weight: 430;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.25;
  font-size: 1rem;
  color: #e9ecef;
}

.content ul {
  list-style-position: inside;
  padding-left: 1rem;
}

.content ol {
  margin-left: 1rem;
}

.content li > ul {
  padding-left: 2rem;
}

.content ul li {
  list-style-type: none;
}

.content ul,
.content ol {
  margin-bottom: 1rem;
}

.content ul ul,
.content ol ul,
.content ul ol,
.content ol ol {
  margin-bottom: inherit;
}

.content ul li:before {
  content: "\2013  ";
  position: absolute;
  margin-left: -1rem;
}

.content ul.double-spaced li {
  margin-top: 1rem;
}

.content .hidden flex-none lg:block ul {
  list-style: none;
}
